@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato&family=Spartan:wght@100;200;300;400;500;600&display=swap');

.main-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 64px;
  position: relative;
}

@media(max-width:768px) {
  .main-heading {
    margin-bottom: 8px;
    margin-top: 32px
  }
}

@media(max-width:480px) {
  .main-heading {
    margin-bottom: 8px;
    margin-top: 32px
  }
}

.main-heading {
  margin-top: 0;
  margin-bottom: 0
}

.main-heading>h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  margin: 0;
  text-align: center
}

@media(min-width:480px) and (max-width:768px) {
  .main-heading>h1 {
    font-size: calc(40px + 6 * ((100vw - 480px)/288))
  }
}

@media(min-width:768px) and (max-width:1280px) {
  .main-heading>h1 {
    font-size: calc(46px + 3 * ((100vw - 768px)/512))
  }
}

@media(min-width:1280px) {
  .main-heading>h1 {
    font-size: 49px
  }
}

.main-heading>h1>em {
  font-style: normal;
  color: #89a
}

@media(min-width:769px) {
  .UseCompactHeader .main-heading {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px
  }

  .UseCompactHeader .main-heading>h1 {
    flex: 1 0 auto;
    text-align: left;
    padding-right: 32px
  }

  .UseCompactHeader .main-heading>.pubbox {
    flex: 0 0 auto;
    margin-top: 0;
    margin-bottom: 0
  }
}

.h3-section {
  color: #345;
  white-space: nowrap;
}

body {
  margin: 5px;
}

.body {
  display: flex;
}

h3#example::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(116, 95, 181, 0.2), transparent 80%);
}

.code {
  display: flex;
}

.command {
  font-weight: 700;
}

.card-1 {
  width: 30%;
  margin: auto 10px;
  background: rgb(250, 222, 250);
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
  margin-bottom: 24px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-2 {
  width: 30%;
  margin: auto 10px;
  background: rgb(248, 236, 212);
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
  margin-bottom: 24px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-3 {
  width: 30%;
  margin: auto 10px;
  background: rgb(201, 246, 241);
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
  margin-bottom: 24px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card:hover {
  transition: ease-in-out;
  transition-duration: 1s;
  
}

.cmd {
  color: #fff;
  padding: 0.2rem 0.4rem;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 3px 0 1px silver;
  font-family: Arial,sans-serif;
  font-weight: 100;
  white-space: nowrap;
  line-height: 1.5em;
}

.sc {
display: flex;
flex-wrap: wrap;
}

.back-to-top {
position: fixed;
bottom: 50px;
right: 25px;
background-color: rgb(104, 217, 255, 0.4);
padding: 20px;
border-radius: .75rem;
text-transform: uppercase;
font-family: Spartan;
/* display: none; */
}

button {
border-radius: 20px;
width: calc(100%/3);
margin: 5px;
box-shadow: 0 5px 20px rgba(14, 14, 14, 0.2);
transition: box-shadow 0.3s ease;
background-color: white;
padding: 10px;
font-family: Lato;
font-size: 1rem;
text-transform: uppercase;
color: black;
font-weight: bold;
background: linear-gradient(5deg, rgb(253, 137, 253), rgb(250, 222, 250));
}

button:hover {
  background-color: mistyrose;
  transform: 1.1;
}

#button-2 {
  border-radius: 20px;
  width: calc(100%/3);
  margin: 5px;
  box-shadow: 0 5px 20px rgba(14, 14, 14, 0.2);
  transition: box-shadow 0.3s ease;
  background-color: white;
  padding: 10px;
  font-family: Lato;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  background: linear-gradient(5deg, rgb(251, 193, 78), rgb(248, 236, 212));
  }

#button-3 {
  border-radius: 20px;
  width: calc(100%/3);
  margin: 5px;
  box-shadow: 0 5px 20px rgba(14, 14, 14, 0.2);
  transition: box-shadow 0.5s ease;
  background-color: white;
  padding: 10px;
  font-family: Lato;
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  background: linear-gradient(5deg, rgb(56, 251, 228), rgb(201, 246, 241));
  }

  .submit-button {
    border-radius: 20px;
    width: calc(100%/3);
    margin: 5px;
    box-shadow: 0 5px 20px rgba(14, 14, 14, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: white;
    padding: 10px;
    font-family: Lato;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    background: linear-gradient(5deg, rgb(104, 217, 255), rgb(210, 240, 251));
    }

button:hover {
  transform: scale(1);
  background-color: white;
}

button a {
  color: black;
}

.top-buttons {
display: flex;
justify-content: space-around;
}

form {
  margin: 20px auto;
  width: 60%;
}

.form-item {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
  font-size: 18px;
  font-family: lato;
}

.form-item input,
.form-item textarea {
  flex-basis: 50%;
  border: 2px solid black;
  width: 80%;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid black;
}

.form-item input,
.form-item textarea,
.form-item button {
  border: 2px solid rgb(104, 217, 255, 0.4);
  background-color: #FFF;
  padding: 5px;
  font-size: 18px;
}

.form-item button:hover {
  border: 2px solid black;
  background-color: black;
  color: #FFF;
}

.form-item button {
  width: 100px;
}

#message,
#mail,
#name {
  font-family: spartan, sans-serif;
  margin: 0px .5em;
}

@media screen and (max-width: 650px) {
  .body {
    flex-direction: column;
    width: 100%;
  }

  .card-1 {
    width: 95%;
  }

  .card-2 {
    width: 95%;
  }

  .card-3 {
    width: 95%;
  }

.top-buttons {
    width: 95%;
  }

button {
  width: calc(100%/1)
}

}

@media screen and (max-width: 650px) {
  .top-buttons {
    flex-direction: column;
    width: 100%;
  }

  button {
    width: 100%;
  }
}